In [1]:
import pandas as pd
import numpy as np
inventory=pd.read_csv("inventory.csv")

In [2]:
inventory[:10]

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [3]:
staten_island=inventory[:10]

In [4]:
product_request=staten_island["product_description"]

In [5]:
seed_request=inventory.product_description[(inventory.location == "Brooklyn") & (inventory.product_type == "seeds")]

In [6]:
inventory["in_stock"]=inventory.apply(lambda row: True if row.quantity > 0 else False, axis=1)

In [7]:
inventory["total_value"]=inventory["quantity"]*inventory["price"]

In [8]:
inventory["full_description"]=inventory["product_type"]+" - "+inventory["product_description"]